spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5437/order_db
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    openfeign:
      enabled: true
      compression:
        request:
          enabled: true
        response:
          enabled: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8085

eureka:
  instance:
    prefer-ip-address: true
    hostname: order-service
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8888/eureka/

management:
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  tracing:
    sampling:
      probability: 1.0

springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha